<!-- Start of Judge.me code -->
<div class="flex flex-col pt-24">
  {% assign jm_metafields = shop.metafields.judgeme %}
  <div class="jdgm-carousel-title-and-link !w-full !h-fit">
    <h2 class="jdgm-carousel-title text-tize1! text-center heading {{ section.settings.heading_size }}">Let customers speak for us</h2>
    <p class="w-full flex justify-center items-end text-xl text-tize1 [text-shadow:_0_2px_2px_rgba(234,255,2,0.8)]">
      <span class="text-5xl font-bold">{{ jm_metafields.all_reviews_rating | times: 2 }}</span>/10
    </p>
    <div class="jdgm-all-reviews-rating-wrapper flex flex-col !w-full justify-center items-center" href="javascript:void(0)">
      <span
        data-score="{{ jm_metafields.all_reviews_rating }}"
        class="jdgm-all-reviews-rating text-2xl !text-tize3"
        aria-label="{{ jm_metafields.all_reviews_rating }} stars"
        tabindex="0"
        role="img"
      ></span>
      <span
        class="jdgm-carousel-number-of-reviews"
        data-number-of-reviews="{{ jm_metafields.all_reviews_count }}"
      >
        from {{ shop.metafields.judgeme.all_reviews_count }} reviews
      </span>
    </div>
  </div>
  {{ jm_metafields.featured_carousel }}
</div>
<!-- End of Judge.me code -->
{% schema %}
{
  "name": "A Carousel Avis",
  "settings": [
    {
      "type": "text",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "title-md tracking-heading pb-4"
    }
  ],
  "presets": [
    {
      "name": "A Carousel Avis"
    }
  ]
}
{% endschema %}
